geokrety-api-exceptions==0.0.1
bleach==3.1.0
characterentities==0.1.2
SQLAlchemy==2.0.20
mysqlclient==1.4.1
bcrypt==3.1.6
git+https://github.com/exavolt/python-phpass.git#egg=python-phpass
geopy==1.18.1
requests[security]==2.21.0
